main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.external-container {
    background-image: linear-gradient(-40deg, rgb(255, 56, 122, 0.3) 1%, rgb(79, 34, 135, 0.5), rgb(50, 50, 169, 0.1) 100%);
    margin-top: 5%;
    width: 100%;
}

p {
    line-height: 1.6em;
    color: rgb(149, 196, 197);
}

button {
    cursor: pointer;
    position: relative; /* Ensure h1 remains in the normal flow */
    z-index: 1;
    background-color: rgba(30, 15, 148, 0.3);
    border: 1px solid #ff387a;
    /*box-shadow: h-offset v-offset blur spread color */
    box-shadow: 2px 2px 28px 3px #0059ff, -2px -2px 16px 1px #ff387a90 inset, -3px -3px 28px 2px #ff387a;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    max-width: 400px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: rgb(149, 196, 197);
    margin-top: 5%;
    overflow: hidden;
}
    
button:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: -50%;
    right: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 200%;
    background-color:rgba(40, 38, 48);
    transition: left 0.7s;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
button::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: -50%;
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 200%;
    background-color:rgba(40, 38, 48);
    transition: left 0.7s;
    border-bottom-left-radius: 40%;
    border-top-left-radius: 40%;
}

button:hover::before {
    left: 0;
}

button:hover::after {
    left: 0;
}

#selfie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    width: 30%;
}

#selfie {
    user-select: none;
    border-radius: 100%;
    border-style: solid;
    border-width: 0.1em;
    border-color: rgba(118, 159, 160, 0.736);
    box-shadow: 3px 3px 10px 3px #0D0B2A;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    min-width: 280px;
    min-height: 280px;
}