@media screen and (max-width: 500px) {
    body {
        background-image: linear-gradient(rgba(8, 1, 23, 0.6), rgba(43, 17, 81, 0.6), rgba(45, 57, 84, 0.6) 100%);
    }

    .game-section {
        border: 5px solid rgb(199, 208, 240, 0.7);
    }
    
    .big-projects {
        flex-direction: column;
    }

    #important {
        margin-left: 5%;
        margin-right: 5%;
    }

    .game-section:active {
        border: 2px solid rgba(120, 132, 174, 0.7);
        box-shadow: 4px 4px 50px rgb(19, 17, 29), -2px -2px 10px #ff6699;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    body {
        background-image: linear-gradient(rgba(8, 1, 23, 0.6), rgba(43, 17, 81, 0.6), rgba(45, 57, 84, 0.6) 100%);
    }
    .big-projects {
        flex-direction: column;
    }
}