main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 20px;
    margin-top: 50px;
}

img {
    width: 80%;
    height: 80%;
    margin: 10px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 10px;
}

p {
    line-height: 1.7em;
    padding: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.container.row > * {
    max-width: 600px;
}

.container.row > * > * {
    width: 100%;
    margin-bottom: 0px;
}

#download {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(-45deg, rgb(31, 19, 255), rgb(64, 0, 255) 30%, var(--main-contrast-color) 100%) 1;
    border-image-slice: 1;
    padding: 8px;
    background-color: rgb(21, 21, 21);
    margin: 40px;
}

#credits {
    width:100%;
    text-align: end;
    margin-top: 10%;
    font-size: small;
}

@media screen and (max-width: 800px) {
    body {
        background-image: linear-gradient(rgba(8, 1, 23, 0.6), rgba(43, 17, 81, 0.6), rgba(45, 57, 84, 0.6) 100%);
    }
    .container.row {
        flex-direction: column;
    }
}